In [31]:
# Import libraries
import math
import pandas_datareader as web
import  numpy as np
import pandas as pd 
from sklearn.preprocessing import MinMaxScaler
from keras.models import Sequential 
from keras.layers import Dense, LSTM
import matplotlib.pyplot as plt
from datetime import datetime
plt.style.use('fivethirtyeight')

In [71]:
#Get the stock symbols/ tickers in the portfolio
#FAANG 

assets = ['JPN']

In [ ]:
# Description: This program predicts the price of Bitcoin for the next 30 days

In [152]:
#Get the stock/portfolio starting date
stockStartDate = '2000-01-01'

In [153]:
# #Get the stock stocks ending date (date)
today = datetime.today().strftime('%Y-%m-%d')
today

'2021-04-16'

In [154]:
# #create a dataframe to store the adjusted close price of the stocks
df = pd.DataFrame()

#Store the adjusted close price of the stock into df 
for stock in assets:
    df[stock] = web.DataReader(stock, data_source='yahoo', start = stockStartDate, end = today)['Adj Close']

In [155]:
#Show the df
df

                   AMZN
Date
2000-01-03    89.375000
2000-01-04    81.937500
2000-01-05    69.750000
2000-01-06    65.562500
2000-01-07    69.562500
...                 ...
2021-04-09  3372.199951
2021-04-12  3379.389893
2021-04-13  3400.000000
2021-04-14  3333.000000
2021-04-15  3379.090088

[5355 rows x 1 columns]

In [156]:
df.head(7)

               AMZN
Date
2000-01-03  89.3750
2000-01-04  81.9375
2000-01-05  69.7500
2000-01-06  65.5625
2000-01-07  69.5625
2000-01-10  69.1875
2000-01-11  66.7500

In [131]:
#Show the first 7 rows of the new data set
df.head(7)

               AMZN
Date
2000-01-03  89.3750
2000-01-04  81.9375
2000-01-05  69.7500
2000-01-06  65.5625
2000-01-07  69.5625
2000-01-10  69.1875
2000-01-11  66.7500

In [157]:
# A variable for predicting 'n'days out into the future
prediction_days = 30 #n = prediction_days = 30

In [133]:
#Create another shifted 'n' unit up
df['Prediction'] = df[['AMZN']].shift(-prediction_days)

In [134]:
#Show the first 7 row of the new data set
df.head(7)

               AMZN  Prediction
Date
2000-01-03  89.3750     73.8125
2000-01-04  81.9375     70.6875
2000-01-05  69.7500     69.0000
2000-01-06  65.5625     64.7500
2000-01-07  69.5625     63.5625
2000-01-10  69.1875     70.4375
2000-01-11  66.7500     68.4375

In [135]:
#Show the last 7 days of the new data set
df.tail(7)

                   AMZN  Prediction
Date
2021-04-07  3279.389893         NaN
2021-04-08  3299.300049         NaN
2021-04-09  3372.199951         NaN
2021-04-12  3379.389893         NaN
2021-04-13  3400.000000         NaN
2021-04-14  3333.000000         NaN
2021-04-15  3379.090088         NaN

In [137]:
#Create the independent data set

# covert the dataframe to a numpy array and drop the prediction column
x = np.array(df.drop(['Prediction'], 1))

In [138]:
#Remove the last 'n' rows where 'n' is the prediction_days 
x = x[:len(df)-prediction_days]

print(x)

[[  89.375     ]
 [  81.9375    ]
 [  69.75      ]
 ...
 [3146.13989258]
 [3094.5300293 ]
 [3005.        ]]

In [139]:
#Create the dependent data set

# Convert the dataframe to a numpy array
y = np.array(df['Prediction'])

# Get all the values except the 'n' rows
y = y[:-prediction_days]


print(y)

[  73.8125       70.6875       69.         ... 3400.         3333.
 3379.09008789]

In [140]:
#Split the data into 80% training and 20% testing
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size = 0.2)

In [146]:
#Set the prediction_days_array equal to the last 30 rows from the original data set
prediction_days_array = np.array(df.drop(['Prediction'],1))[-prediction_days:]
print(prediction_days_array)

[[2977.57006836]
 [3000.45996094]
 [2951.94995117]
 [3062.85009766]
 [3057.63989258]
 [3113.59008789]
 [3089.48999023]
 [3081.67993164]
 [3091.86010742]
 [3135.72998047]
 [3027.98999023]
 [3074.95996094]
 [3110.87011719]
 [3137.5       ]
 [3087.07006836]
 [3046.26000977]
 [3052.0300293 ]
 [3075.72998047]
 [3055.29003906]
 [3094.08007812]
 [3161.        ]
 [3226.72998047]
 [3223.82006836]
 [3279.38989258]
 [3299.30004883]
 [3372.19995117]
 [3379.38989258]
 [3400.        ]
 [3333.        ]
 [3379.09008789]]

In [147]:
from sklearn.svm import SVR

#Create and train the support vector machine(Regression) using the radial basis function
svr_rbf = SVR(kernel='rbf', C=1e3, gamma=0.00001)
svr_rbf.fit(x_train, y_train)

SVR(C=1000.0, gamma=1e-05)

In [148]:
#Test the model accuracy
svr_rbf_confidence = svr_rbf.score(x_test, y_test)
print('svr_rbf accuracy: ', svr_rbf_confidence )

svr_rbf accuracy:  0.9916000674112772

In [149]:
#Print the predicted values(bitcoin)
svm_prediction = svr_rbf.predict(x_test)
print(svm_prediction)

print()

#Print the actual values
print(y_test)

[  72.64421528  170.10415076   20.84603968 ...   34.5835097    17.01347606
 1425.12309252]

[  79.79000092  170.77000427   15.85999966 ...   43.72000122   16.12000084
 1468.34997559]

In [150]:
#Print the model predictions for the next 'n=30' days
svm_prediction = svr_rbf.predict(prediction_days_array)
print(svm_prediction)

print()

#print the actual price for bitcoin for the last 30 days
print(df.tail(prediction_days))

[3203.60130799 3210.24683385 3194.0484464  3215.37164781 3215.7822936
 3203.25319522 3210.78458486 3212.5546115  3210.17980664 3193.96292163
 3215.11344097 3213.79805084 3204.24962019 3193.14067886 3211.36983508
 3216.12341699 3216.04534935 3213.66886767 3215.91503744 3209.58532861
 3181.43542327 3148.45776267 3149.68958694 3134.41534489 3134.10258342
 3156.35800129 3159.98553534 3170.83122074 3140.29896295 3159.83174939]

                   AMZN  Prediction
Date
2021-03-04  2977.570068         NaN
2021-03-05  3000.459961         NaN
2021-03-08  2951.949951         NaN
2021-03-09  3062.850098         NaN
2021-03-10  3057.639893         NaN
2021-03-11  3113.590088         NaN
2021-03-12  3089.489990         NaN
2021-03-15  3081.679932         NaN
2021-03-16  3091.860107         NaN
2021-03-17  3135.729980         NaN
2021-03-18  3027.989990         NaN
2021-03-19  3074.959961         NaN
2021-03-22  3110.870117         NaN
2021-03-23  3137.500000         NaN
2021-03-24  3087.070068         NaN
2021-03-25  3046.260010         NaN
2021-03-26  3052.030029         NaN
2021-03-29  3075.729980         NaN
2021-03-30  3055.290039         NaN
2021-03-31  3094.080078         NaN
2021-04-01  3161.000000         NaN
2021-04-05  3226.729980         NaN
2021-04-06  3223.820068         NaN
2021-04-07  3279.389893         NaN
2021-04-08  3299.300049         NaN
2021-04-09  3372.199951         NaN
2021-04-12  3379.389893         NaN
2021-04-13  3400.000000         NaN
2021-04-14  3333.000000         NaN
2021-04-15  3379.090088         NaN

In [151]:
#Set the prediction_days_array equal to the last 30 rows from the original data set
prediction_days_array = np.array(df.drop(['Prediction'],1))[+prediction_days:]
print(prediction_days_array)

[[  73.8125    ]
 [  70.6875    ]
 [  69.        ]
 ...
 [3400.        ]
 [3333.        ]
 [3379.09008789]]