In [1]:
#Description : this program attemps to predicts if the stock of a company will increase or decrease
#              based on top news headlines.

#Import the python libraries

from pandas_datareader import data as web
import pandas as pd
import numpy as np
from datetime import datetime
from textblob import TextBlob
import re
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, classification_report
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')

In [2]:
#Get the stock symbols/ tickers in the portfolio

#FACEBOOK

assets = ['AMZN']

In [2]:
pip install vaderSentiment

Collecting vaderSentiment
  Downloading vaderSentiment-3.3.2-py2.py3-none-any.whl (125 kB)
     |████████████████████████████████| 125 kB 8.3 kB/s eta 0:00:01
Requirement already satisfied: requests in /home/thembajsph/Downloads/anaconda/lib/python3.8/site-packages (from vaderSentiment) (2.24.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /home/thembajsph/Downloads/anaconda/lib/python3.8/site-packages (from requests->vaderSentiment) (1.25.11)
Requirement already satisfied: certifi>=2017.4.17 in /home/thembajsph/Downloads/anaconda/lib/python3.8/site-packages (from requests->vaderSentiment) (2020.6.20)
Requirement already satisfied: chardet<4,>=3.0.2 in /home/thembajsph/Downloads/anaconda/lib/python3.8/site-packages (from requests->vaderSentiment) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /home/thembajsph/Downloads/anaconda/lib/python3.8/site-packages (from requests->vaderSentiment) (2.10)
Installing collected packages: vaderSentiment
Successfully installed vaderSentiment-3.3.2
Note: you may need to restart the kernel to use updated packages.

In [3]:
pip install textblob

Collecting textblob
  Downloading textblob-0.15.3-py2.py3-none-any.whl (636 kB)
     |████████████████████████████████| 636 kB 279 kB/s eta 0:00:01
Requirement already satisfied: nltk>=3.1 in /home/thembajsph/Downloads/anaconda/lib/python3.8/site-packages (from textblob) (3.5)
Requirement already satisfied: joblib in /home/thembajsph/Downloads/anaconda/lib/python3.8/site-packages (from nltk>=3.1->textblob) (0.17.0)
Requirement already satisfied: click in /home/thembajsph/Downloads/anaconda/lib/python3.8/site-packages (from nltk>=3.1->textblob) (7.1.2)
Requirement already satisfied: tqdm in /home/thembajsph/Downloads/anaconda/lib/python3.8/site-packages (from nltk>=3.1->textblob) (4.50.2)
Requirement already satisfied: regex in /home/thembajsph/Downloads/anaconda/lib/python3.8/site-packages (from nltk>=3.1->textblob) (2020.10.15)
Installing collected packages: textblob
Successfully installed textblob-0.15.3
Note: you may need to restart the kernel to use updated packages.

In [3]:
#Assign weights to the stocks.
weights = np.array([1.0])

In [4]:
#Get the stock/portfolio starting date 
stockStartDate = '2013-01-01'

In [5]:
#Get the stocks ending date (today)
today = datetime.today().strftime('%Y-%m-%d')
today

'2021-04-06'

In [115]:
#Create a dataframe to store the adjusted close price of the stock
df1 = pd.DataFrame()

#Store the adjusted close price of the stock into the df
for  stock in assets:
    df1[stock] = web.DataReader(ticker, data_source='yahoo', start = stockStartDate, end = today)['Business']

KeyError: 'Business'

In [80]:
from urllib.request import urlopen, Request
from bs4 import BeautifulSoup
import os
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
# NLTK VADER for sentiment analysis
from nltk.sentiment.vader import SentimentIntensityAnalyzer

finwiz_url = 'https://finviz.com/quote.ashx?t='

In [81]:
news_tables = {}
tickers = ['AMZN', 'TSLA', 'GOOG']

for ticker in tickers:
    url = finwiz_url + ticker
    req = Request(url=url,headers={'user-agent': 'my-app/0.0.1'}) 
    response = urlopen(req)    
    # Read the contents of the file into 'html'
    html = BeautifulSoup(response)
    # Find 'news-table' in the Soup and load it into 'news_table'
    news_table = html.find(id='news-table')
    # Add the table to our dictionary
    news_tables[ticker] = news_table

In [82]:
# Read one single day of headlines for 'AMZN' 
amzn = news_tables['AMZN']
# Get all the table rows tagged in HTML with <tr> into 'amzn_tr'
amzn_tr = amzn.findAll('tr')

for i, table_row in enumerate(amzn_tr):
    # Read the text of the element 'a' into 'link_text'
    a_text = table_row.a.text
    # Read the text of the element 'td' into 'data_text'
    td_text = table_row.td.text
    # Print the contents of 'link_text' and 'data_text' 
    print(a_text)
    print(td_text)
    # Exit after printing 4 rows of data
    if i == 3:
        break

Dow Jones Futures: Stock Market Rally Pauses Amid Biden Tax Hike Plans, But Apple, Tech Titans Lead; Tesla Delays Continue
Apr-07-21 08:49PM
Is Walmart Stock A Buy Right Now? Here's What Charts, Analysis Show
06:02PM
Is UPS Stock A Buy Right Now? Here's What Charts, Earnings Show
05:53PM
Amazon (AMZN) Outpaces Stock Market Gains: What You Should Know
05:45PM

In [83]:
parsed_news = []

# Iterate through the news
for file_name, news_table in news_tables.items():
    # Iterate through all tr tags in 'news_table'
    for x in news_table.findAll('tr'):
        # read the text from each tr tag into text
        # get text from a only
        text = x.a.get_text() 
        # splite text in the td tag into a list 
        date_scrape = x.td.text.split()
        # if the length of 'date_scrape' is 1, load 'time' as the only element

        if len(date_scrape) == 1:
            time = date_scrape[0]
            
        # else load 'date' as the 1st element and 'time' as the second    
        else:
            date = date_scrape[0]
            time = date_scrape[1]
        # Extract the ticker from the file name, get the string up to the 1st '_'  
        ticker = file_name.split('_')[0]
        
        # Append ticker, date, time and headline as a list to the 'parsed_news' list
        parsed_news.append([ticker, date, time, text])
        
parsed_news

[['AMZN',
  'Apr-07-21',
  '08:49PM',
  'Dow Jones Futures: Stock Market Rally Pauses Amid Biden Tax Hike Plans, But Apple, Tech Titans Lead; Tesla Delays Continue'],
 ['AMZN',
  'Apr-07-21',
  '06:02PM',
  "Is Walmart Stock A Buy Right Now? Here's What Charts, Analysis Show"],
 ['AMZN',
  'Apr-07-21',
  '05:53PM',
  "Is UPS Stock A Buy Right Now? Here's What Charts, Earnings Show"],
 ['AMZN',
  'Apr-07-21',
  '05:45PM',
  'Amazon (AMZN) Outpaces Stock Market Gains: What You Should Know'],
 ['AMZN',
  'Apr-07-21',
  '04:06PM',
  'U.S. SEC blocks Amazon effort to stop shareholder votes on racial equity audit'],
 ['AMZN',
  'Apr-07-21',
  '04:00PM',
  'Tencent Bets Billions on Gamers With More Fans Than NBA Stars'],
 ['AMZN',
  'Apr-07-21',
  '03:17PM',
  "Column: Jeff Bezos likes Biden's infrastructure plan because he knows it's worth the money"],
 ['AMZN',
  'Apr-07-21',
  '02:50PM',
  'New robot Stretch to amplify productivity in warehouses: Boston Dynamics CEO'],
 ['AMZN',
  'Apr-07-21',
  '01:00PM',
  'Easterseals Southern California and IMDbPro Collaborate to Support and Create Visibility for Entertainment Professionals in the Disability Community'],
 ['AMZN',
  'Apr-07-21',
  '12:47PM',
  'UPDATE 2-Yellen pushes minimum corporate taxes, ending fossil fuel breaks, to pay for infrastructure'],
 ['AMZN', 'Apr-07-21', '12:45PM', 'Is Bed Bath & Beyond Stock a Buy?'],
 ['AMZN',
  'Apr-07-21',
  '12:00PM',
  'Okta Expects 30% Annual Growth to 2024, Boosted by\xa0New Markets'],
 ['AMZN',
  'Apr-07-21',
  '11:11AM',
  "How COVID-19 has impacted teen's brand preferences"],
 ['AMZN',
  'Apr-07-21',
  '11:11AM',
  "Cargo Aircraft Management, Inc. -- Moody's assigns a Ba3 backed long-term senior unsecured rating to Cargo Aircraft Management, Inc.'s senior notes due 2028"],
 ['AMZN',
  'Apr-07-21',
  '10:58AM',
  'Top employers like JPMorgan, Bank of America seeking talent beyond just college graduates: Year Up CEO'],
 ['AMZN',
  'Apr-07-21',
  '10:29AM',
  'Amazon, JPMorgan Chase looking for talent beyond college graduate pond: Gerald Chertavian'],
 ['AMZN',
  'Apr-07-21',
  '08:51AM',
  '4 Must-Buy AI Stocks on Coronavirus Crisis Triggered Automation'],
 ['AMZN',
  'Apr-07-21',
  '08:07AM',
  'The richest person in every U.S. state after the latest billionaire boom'],
 ['AMZN',
  'Apr-07-21',
  '07:57AM',
  'Amazon-backed Deliveroo shares rally on first full trading day as riders get ready to strike'],
 ['AMZN', 'Apr-07-21', '07:45AM', "AT&T's HBO Max Just Isn't Sticky Enough"],
 ['AMZN',
  'Apr-07-21',
  '07:19AM',
  'These stocks seem expensive now, but in two years you may wish youd bought them at these prices'],
 ['AMZN',
  'Apr-07-21',
  '07:15AM',
  'Could Amazon Be a Millionaire-Maker Stock?'],
 ['AMZN',
  'Apr-07-21',
  '07:11AM',
  'Did Facebook Just Take a Step Toward Connected TV?'],
 ['AMZN',
  'Apr-07-21',
  '06:23AM',
  '2 Stocks at Huge Discounts Despite Stellar Growth'],
 ['AMZN',
  'Apr-07-21',
  '05:52AM',
  '3 Robinhood Stocks You Can Buy and Hold Forever'],
 ['AMZN',
  'Apr-07-21',
  '04:29AM',
  "Amazon's Jeff Bezos backs tax rise on companies"],
 ['AMZN',
  'Apr-07-21',
  '12:02AM',
  'SoftBank-Backed Policybazaar Plans Mumbai IPO Filing Next Month'],
 ['AMZN',
  'Apr-06-21',
  '10:30PM',
  'Indias Epharmacy Segment Mints Its First Unicorn'],
 ['AMZN',
  'Apr-06-21',
  '09:52PM',
  'Checking In on Chewy, Lululemon, and BlackBerry'],
 ['AMZN',
  'Apr-06-21',
  '06:50PM',
  'Amazon CEO Bezos, stung by wide criticism, endorses U.S. corporate tax hike'],
 ['AMZN',
  'Apr-06-21',
  '06:49PM',
  'UPDATE 1-Amazon CEO Bezos, stung by wide criticism, endorses U.S. corporate tax hike'],
 ['AMZN',
  'Apr-06-21',
  '06:29PM',
  'Jeff Bezos says he supports higher tax rates for Amazon'],
 ['AMZN',
  'Apr-06-21',
  '06:11PM',
  'Amazons Bezos says he supports a higher corporate tax rate to pay for Bidens infrastructure plan'],
 ['AMZN',
  'Apr-06-21',
  '05:21PM',
  'Amazons Jeff Bezos Supports Infrastructure Bill, Corporate Tax Hike'],
 ['AMZN',
  'Apr-06-21',
  '05:00PM',
  '5 at 5: Your Daily Digest for Real Estate Investing, 4/6/21'],
 ['AMZN',
  'Apr-06-21',
  '04:57PM',
  'Amazon Just Passed a Major Milestone in the Digital Advertising Market'],
 ['AMZN',
  'Apr-06-21',
  '04:43PM',
  'Bezos says Amazon backs increase in corporate tax rate'],
 ['AMZN',
  'Apr-06-21',
  '04:30PM',
  'Google Stock Headwind: Amazon Gains In Product Search Advertising'],
 ['AMZN',
  'Apr-06-21',
  '04:25PM',
  'Union Efforts At Amazon Could Create One Big Business Disruption'],
 ['AMZN',
  'Apr-06-21',
  '04:18PM',
  'What 2 Retail Stocks Can Tell Us About the Massive Home Furnishings Market'],
 ['AMZN',
  'Apr-06-21',
  '04:07PM',
  'Amazon CEO Bezos supports hiking U.S. corporate tax rate'],
 ['AMZN',
  'Apr-06-21',
  '04:00PM',
  'Amazon Should Be Broken Up, Small Merchant Coalition Says'],
 ['AMZN',
  'Apr-06-21',
  '02:40PM',
  'MercadoLibre to Double Its Workforce and Triple Spending in Mexico to Fuel Growth'],
 ['AMZN',
  'Apr-06-21',
  '01:00PM',
  "What Does Amazon's Stealth Grocery Expansion Mean for Real Estate Investors?"],
 ['AMZN', 'Apr-06-21', '12:00PM', 'Is Walmart a Great Dividend Stock?'],
 ['AMZN',
  'Apr-06-21',
  '11:55AM',
  'Is GameStop the Next Blockbuster, Amazon, or Best Buy?'],
 ['AMZN',
  'Apr-06-21',
  '10:57AM',
  'Walmarts Flipkart Is Said to Aim for IPO in Fourth Quarter'],
 ['AMZN',
  'Apr-06-21',
  '10:09AM',
  "Kohl's (KSS) Surges More Than 240% in a Year: Will Rally Stay?"],
 ['AMZN', 'Apr-06-21', '09:49AM', 'Will Stem SPAC Investors Beat the Market?'],
 ['AMZN', 'Apr-06-21', '09:48AM', '3 Top E-Commerce Stocks to Buy Right Now'],
 ['AMZN',
  'Apr-06-21',
  '08:30AM',
  'Amazon Stock: Is It A Buy As E-commerce Giant Plans Telehealth Push'],
 ['AMZN',
  'Apr-06-21',
  '08:15AM',
  'Artificial Intelligence Stocks To Buy And Watch Amid Rising AI Competition'],
 ['AMZN',
  'Apr-06-21',
  '08:00AM',
  "Two Companies Will Reach $2 Trillion Next (Tesla Isn't One)"],
 ['AMZN', 'Apr-06-21', '07:45AM', 'Better Buy: Costco vs. Best Buy'],
 ['AMZN', 'Apr-06-21', '07:20AM', "Don't Count Intel Out Just Yet"],
 ['AMZN',
  'Apr-06-21',
  '07:12AM',
  '2 Contrarian Stocks to Buy That Are Down by More Than 50%'],
 ['AMZN',
  'Apr-06-21',
  '07:07AM',
  '3 Ways to Start Investing With $100 or Less'],
 ['AMZN', 'Apr-06-21', '06:09AM', '3 Reasons Coupa Software Is a Buy'],
 ['AMZN', 'Apr-06-21', '05:05AM', "The 1 Stock I'd Buy Right Now"],
 ['AMZN',
  'Apr-05-21',
  '11:22PM',
  'India Food Delivery Firm Swiggy Gets $800 Million in Funding'],
 ['AMZN',
  'Apr-05-21',
  '08:00PM',
  'Fulfillment  America under Amazons lengthening shadow'],
 ['AMZN',
  'Apr-05-21',
  '07:00PM',
  "Amazon 'illegally retaliated' against climate activists"],
 ['AMZN',
  'Apr-05-21',
  '07:00PM',
  "What Investors Need to Know About Microsoft's Interest in Communication Platform Discord"],
 ['AMZN',
  'Apr-05-21',
  '06:18PM',
  'Labor board says Amazon illegally fired outspoken workers'],
 ['AMZN',
  'Apr-05-21',
  '05:41PM',
  "Domino's Pizza CEO Ritch Allison Talks About Trends and Toppings"],
 ['AMZN',
  'Apr-05-21',
  '04:16PM',
  'Facebook Hits Record as Megacap Tech Stocks March Higher'],
 ['AMZN',
  'Apr-05-21',
  '03:38PM',
  'Amazon Violated Law in Firing Employee Activists, NLRB Says'],
 ['AMZN',
  'Apr-05-21',
  '02:55PM',
  'Amazon stock surges toward a 6-week high, and best 3-day performance in nearly 3 months'],
 ['AMZN',
  'Apr-05-21',
  '02:52PM',
  'UPDATE 1-Amazon illegally fired employees critical of work conditions, labor board finds'],
 ['AMZN',
  'Apr-05-21',
  '02:10PM',
  'Billionaire wealth increases 44.6% amid pandemic'],
 ['AMZN', 'Apr-05-21', '01:36PM', 'Should You Invest in Amazon.com (AMZN)?'],
 ['AMZN',
  'Apr-05-21',
  '01:24PM',
  'Supreme Court Overturns Oracles Copyright Win Over Google'],
 ['AMZN',
  'Apr-05-21',
  '01:15PM',
  'Labor board says Amazon illegally fired activist workers: NYT'],
 ['AMZN',
  'Apr-05-21',
  '11:17AM',
  'Retail outlook: expect discretionary retail to take off'],
 ['AMZN',
  'Apr-05-21',
  '10:30AM',
  'Amazon apologizes for denying that some of its workers urinate in bottles'],
 ['AMZN',
  'Apr-05-21',
  '09:36AM',
  'Got $5,000? 2 Tech Stocks to Buy and Hold for the Long Term'],
 ['AMZN',
  'Apr-05-21',
  '09:00AM',
  'Why Northern Genesis Acquisition Stock Fell 18.1% in March'],
 ['AMZN', 'Apr-05-21', '08:28AM', 'Is Microsoft Stock a Buy?'],
 ['AMZN', 'Apr-05-21', '08:20AM', 'Facebook Stock Is a Buyand Could Gain 20%'],
 ['AMZN', 'Apr-05-21', '05:52AM', "3 Growth Stocks I'd Buy Right Now"],
 ['AMZN',
  'Apr-04-21',
  '08:00PM',
  'Italy emerges as next front in gig economy labour battle'],
 ['AMZN',
  'Apr-04-21',
  '02:05PM',
  'Amazon apologises for denying drivers are forced to urinate in bottles'],
 ['AMZN',
  'Apr-04-21',
  '02:04PM',
  "Why Netflix $450M 'Knives Out' gambit is becoming routine as streaming platforms 'feed the beast'"],
 ['AMZN',
  'Apr-04-21',
  '10:28AM',
  'Americans Will Add Even More Streaming Subscriptions in 2021'],
 ['AMZN',
  'Apr-04-21',
  '09:09AM',
  '3 Dividend Stocks You Can Safely Hold for Decades'],
 ['AMZN',
  'Apr-04-21',
  '07:22AM',
  'Is Now The Time To Buy Stock In Microsoft, GE, Pinterest Or Amazon?'],
 ['AMZN',
  'Apr-04-21',
  '07:04AM',
  'GameStop Chief Merchandising Officer Stepping Down'],
 ['AMZN',
  'Apr-04-21',
  '05:51AM',
  '5 Safe Stocks to Buy for a Biden Bull Market'],
 ['AMZN',
  'Apr-03-21',
  '01:04PM',
  'Amazon Apologizes For Tweet Amid Claims That Its Workers Pee In Bottles'],
 ['AMZN',
  'Apr-03-21',
  '11:01AM',
  'Cybersecurity firm Darktrace finalising plans for £3bn stock market listing'],
 ['AMZN',
  'Apr-03-21',
  '09:15AM',
  'Amazon acknowledges issue of drivers urinating in bottles in apology to Rep. Pocan'],
 ['AMZN',
  'Apr-03-21',
  '09:10AM',
  'Amazon acknowledges issue of drivers urinating in bottles in apology to Rep. Pocan'],
 ['AMZN',
  'Apr-03-21',
  '09:08AM',
  'Amazon acknowledges issue of drivers urinating in bottles in apology to Rep. Pocan'],
 ['AMZN', 'Apr-03-21', '08:47AM', '2 Stocks for the Reddit Generation'],
 ['AMZN',
  'Apr-03-21',
  '08:30AM',
  '3 Popular Stocks That Are Disasters Waiting to Happen'],
 ['AMZN',
  'Apr-03-21',
  '07:30AM',
  'Could These E-Commerce Stocks Be the Next Shopify?'],
 ['AMZN',
  'Apr-03-21',
  '07:00AM',
  '3 Top Cybersecurity Stocks to Buy in April'],
 ['AMZN',
  'Apr-02-21',
  '08:00PM',
  'Amazon apologises for mocking claim staff urinate in plastic bottles'],
 ['AMZN', 'Apr-02-21', '07:15PM', 'GameStops Hiring Spree Will Continue'],
 ['AMZN',
  'Apr-02-21',
  '04:16PM',
  'Why Teladoc Health Stock Sank 18% Last Month'],
 ['TSLA',
  'Apr-07-21',
  '08:49PM',
  'Dow Jones Futures: Stock Market Rally Pauses Amid Biden Tax Hike Plans, But Apple, Tech Titans Lead; Tesla Delays Continue'],
 ['TSLA',
  'Apr-07-21',
  '05:00PM',
  'Tim Cook Finally Opens Up About The Much-Hyped Apple Car'],
 ['TSLA',
  'Apr-07-21',
  '03:52PM',
  'Replay: IPO Edge Hosts Fireside Chat with Blink Charging President Brendan Jones'],
 ['TSLA',
  'Apr-07-21',
  '03:51PM',
  'Tesla Stock Traders Could Look To Buy The Daily Bull Flag Dip'],
 ['TSLA', 'Apr-07-21', '03:14PM', 'How EVs Could Get a Boost From Biden'],
 ['TSLA',
  'Apr-07-21',
  '02:31PM',
  "Now you can pay rent in bitcoin, at least at mall magnate Rick Caruso's apartments"],
 ['TSLA',
  'Apr-07-21',
  '02:24PM',
  'Self-driving sensor startup Innoviz rallies in Wall Street debut'],
 ['TSLA',
  'Apr-07-21',
  '12:50PM',
  'Why This BofA Analyst Says General Motors Is A Top EV Stock'],
 ['TSLA',
  'Apr-07-21',
  '11:54AM',
  'Unknown Billionaire Phill Gross Top 10 Stock Picks'],
 ['TSLA',
  'Apr-07-21',
  '11:48AM',
  'Dow Falls As Treasury Yields Continue To Drop; Apple Reverses, Tesla Skids'],
 ['TSLA',
  'Apr-07-21',
  '11:00AM',
  "Tesla's Stock Is Way Overblown and Only Worth $150, Analyst Says"],
 ['TSLA',
  'Apr-07-21',
  '08:29AM',
  'Can General Motors Charge to New Highs? The Chart Says Yes'],
 ['TSLA',
  'Apr-07-21',
  '08:18AM',
  'Dow Jones Futures: Market Rally Holds Gains As Square, Chipotle Flash Buy Signals; Tesla Faces Key Test'],
 ['TSLA',
  'Apr-07-21',
  '08:07AM',
  'The richest person in every U.S. state after the latest billionaire boom'],
 ['TSLA',
  'Apr-07-21',
  '07:44AM',
  "Elon Musk Marks A 'Seminal Moment' For Tesla And Bitcoin"],
 ['TSLA',
  'Apr-07-21',
  '07:03AM',
  'General Motors (GM) China Vehicle Sales Sustain Momentum in Q1'],
 ['TSLA',
  'Apr-07-21',
  '05:35AM',
  'UPDATE 1-Tesla tells China car cameras not activated outside North America'],
 ['TSLA',
  'Apr-07-21',
  '04:52AM',
  'Tesla tells China car cameras not activated outside North America'],
 ['TSLA',
  'Apr-07-21',
  '04:51AM',
  'Tesla tells China car cameras not activated outside North America'],
 ['TSLA',
  'Apr-06-21',
  '10:03PM',
  'Good Entry Point for Tesla Stock? Not Just Yet, Says Analyst'],
 ['TSLA',
  'Apr-06-21',
  '08:00PM',
  'Lex in depth: a solid case for the next generation of batteries'],
 ['TSLA',
  'Apr-06-21',
  '04:54PM',
  'Its an EV Revolution. What So Many Cars Mean for Investors.'],
 ['TSLA',
  'Apr-06-21',
  '04:13PM',
  'A bitcoin revolution is underway and MarketWatch is gathering a cast of crypto experts to explain what it all means. Sign up today!'],
 ['TSLA',
  'Apr-06-21',
  '02:36PM',
  'Elons brother Kimbal Musk pockets more than $7 million from Tesla stock trades'],
 ['TSLA',
  'Apr-06-21',
  '01:39PM',
  'Self-Driving Stock Innoviz Is Jumping. Heres Why.'],
 ['TSLA',
  'Apr-06-21',
  '01:25PM',
  'Innoviz is ahead of the pack in the lidar space: CEO'],
 ['TSLA',
  'Apr-06-21',
  '12:45PM',
  'Tesla Stock Could Surge 51% to $1,000 According to This Analyst'],
 ['TSLA',
  'Apr-06-21',
  '11:32AM',
  'Dow Turns Positive As Tesla Reverses; 3 Tech Giants In Buy Range After Breakouts'],
 ['TSLA', 'Apr-06-21', '11:20AM', 'The Zacks Analyst Blog Highlights: Tesla'],
 ['TSLA',
  'Apr-06-21',
  '10:30AM',
  "Tesla's Vehicle Deliveries Growth Rate Is Accelerating"],
 ['TSLA',
  'Apr-06-21',
  '10:27AM',
  'Origin Materials Makes Big Corporate Net-Zero Pledges Plausible'],
 ['TSLA', 'Apr-06-21', '09:00AM', 'Can Tesla Stock Drive to $1,000?'],
 ['TSLA',
  'Apr-06-21',
  '08:26AM',
  "Amazon's Bezos, Tesla's Musk Top Forbes' Billionaires List"],
 ['TSLA',
  'Apr-06-21',
  '08:11AM',
  'Auto Stock Roundup: TSLA Q1 Deliveries Solid, KMX Q4 Earnings Beat & More'],
 ['TSLA',
  'Apr-06-21',
  '08:00AM',
  "Two Companies Will Reach $2 Trillion Next (Tesla Isn't One)"],
 ['TSLA',
  'Apr-06-21',
  '08:00AM',
  'Dow Futures Signal Modest Losses; 3 Tech Giants Break Out Above Buy Points'],
 ['TSLA',
  'Apr-06-21',
  '07:03AM',
  'JP Morgan touts institutional bitcoin backing as volatility falls'],
 ['TSLA',
  'Apr-06-21',
  '07:00AM',
  "Tesla Stock Is Down More Than 23% From Its Recent Highs -- Here's Why"],
 ['TSLA',
  'Apr-06-21',
  '02:25AM',
  'Tesla Is Offering 50% Night Discount On Supercharging In California'],
 ['TSLA',
  'Apr-06-21',
  '12:12AM',
  'Tesla Shares Rise Over 4% on Stronger-Than-Anticipated Q1 Deliveries'],
 ['TSLA',
  'Apr-05-21',
  '10:13PM',
  'UPDATE 1-Audio app Clubhouse floats payments feature for creators'],
 ['TSLA',
  'Apr-05-21',
  '07:57PM',
  'Strong Q1 Delivery Numbers  Could Make Tesla a $1,000 Stock, Says Analyst'],
 ['TSLA',
  'Apr-05-21',
  '05:21PM',
  'Teslas Blowout Deliveries Lift Shares Even as Smaller Peers Lag'],
 ['TSLA',
  'Apr-05-21',
  '04:53PM',
  'Lidar Stocks Are Under Pressure. Why the Market May Be Wrong.'],
 ['TSLA',
  'Apr-05-21',
  '04:40PM',
  'GMC expands Hummer EV lineup with extreme SUV'],
 ['TSLA',
  'Apr-05-21',
  '04:39PM',
  'Tesla appeals federal order to delete Elon Musks anti-union tweet'],
 ['TSLA',
  'Apr-05-21',
  '04:14PM',
  'Tesla Stock Rallies After Q1 Deliveries Beat Forecasts Despite Gains From Rivals'],
 ['TSLA',
  'Apr-05-21',
  '04:12PM',
  'US STOCKS-Strong economic data lifts Dow, S&P 500 to record closes'],
 ['TSLA',
  'Apr-05-21',
  '04:11PM',
  'Nio Stock, China EV Stocks Reverse Despite Strong March Sales Despite Chip Shortages'],
 ['TSLA',
  'Apr-05-21',
  '04:04PM',
  'Tesla, Yeti, Pinterest Among Growth Stocks To Watch For Q1 Earnings'],
 ['TSLA',
  'Apr-05-21',
  '04:00PM',
  'US STOCKS-Strong economic data lifts Dow, S&P 500 to record closes'],
 ['TSLA',
  'Apr-05-21',
  '03:02PM',
  'Dow Jones Jumps 400 Points To All-Time High; Microsoft, Facebook, Alphabet Give Buy Signals'],
 ['TSLA',
  'Apr-05-21',
  '02:35PM',
  'US STOCKS-Dow, S&P 500 rally to records, boosted by strong economic data'],
 ['TSLA',
  'Apr-05-21',
  '02:10PM',
  'Billionaire wealth increases 44.6% amid pandemic'],
 ['TSLA',
  'Apr-05-21',
  '01:32PM',
  'Is Tesla Stock A Buy After Turning In A Robust Report On Deliveries?'],
 ['TSLA',
  'Apr-05-21',
  '12:56PM',
  "Biden's electric vehicle ambitions may send Tesla stock skyrocketing to $1,300: analyst"],
 ['TSLA',
  'Apr-05-21',
  '12:36PM',
  'Why Tesla stock could be worth $1,300, according to one analyst'],
 ['TSLA', 'Apr-05-21', '12:12PM', 'Why Nikola Stock Is Slumping Today'],
 ['TSLA',
  'Apr-05-21',
  '12:08PM',
  'US STOCKS-S&P 500, Dow at all-time highs after robust economic data'],
 ['TSLA',
  'Apr-05-21',
  '12:04PM',
  'Tesla is on fire, but these EV-related stocks could end up just as hot'],
 ['TSLA',
  'Apr-05-21',
  '12:02PM',
  'At 60, Tim Cook Doubts Hell Be at Apple for 10 More Years'],
 ['TSLA',
  'Apr-05-21',
  '12:01PM',
  'Is Nio Stock A Buy? Chip Shortage, EV Competition Weigh On Outlook'],
 ['TSLA',
  'Apr-05-21',
  '11:58AM',
  'Tesla stock upgraded after paradigm changer delivery numbers'],
 ['TSLA',
  'Apr-05-21',
  '11:54AM',
  'IPO Edge to Host Fireside Chat with Blink Charging President Brendan Jones April 7'],
 ['TSLA',
  'Apr-05-21',
  '11:53AM',
  'Tesla Lights Up the Stock Market as Recovery Plays Soar'],
 ['TSLA',
  'Apr-05-21',
  '11:43AM',
  'Dow Jumps To Record Highs As Treasury Yields Rise; Tesla Surges On Deliveries Surprise'],
 ['TSLA', 'Apr-05-21', '11:07AM', '3 Reasons Investors Are Bullish on Tesla'],
 ['TSLA', 'Apr-05-21', '10:43AM', 'Impressive Jobs Addition in March'],
 ['TSLA', 'Apr-05-21', '10:31AM', 'Why Tesla Stock Jumped Sharply on Monday'],
 ['TSLA', 'Apr-05-21', '10:19AM', 'Markets Up on Labor, Tesla & Outlook'],
 ['TSLA',
  'Apr-05-21',
  '10:05AM',
  "Tesla ETFs to Tap Robust Q1 Deliveries, Biden EV's Plan"],
 ['TSLA',
  'Apr-05-21',
  '09:54AM',
  'US STOCKS-S&P 500, Dow at all-time highs after strong jobs data'],
 ['TSLA',
  'Apr-05-21',
  '09:31AM',
  'Teslas Q1 report is a game changer: analyst'],
 ['TSLA',
  'Apr-05-21',
  '09:15AM',
  'Tesla shares spike after company posts record quarterly deliveries, gets analyst upgrade'],
 ['TSLA',
  'Apr-05-21',
  '08:58AM',
  'US STOCKS-Wall St set to rise after strong jobs data; eyes on services sector survey'],
 ['TSLA',
  'Apr-05-21',
  '08:53AM',
  'Teslas Delivery Numbers Looked Great. Heres What Wall Street Thinks.'],
 ['TSLA',
  'Apr-05-21',
  '08:19AM',
  'Dow Jones Futures: Jobs Report Fuels Market Rally As Tesla Jumps On Deliveries; 4 Stocks You Can Buy Now'],
 ['TSLA',
  'Apr-05-21',
  '08:06AM',
  'The Stock Market Gets Delayed Gratification from Jobs and Tesla'],
 ['TSLA',
  'Apr-05-21',
  '07:36AM',
  "Tesla's market value set to gain $50 billion on record EV deliveries"],
 ['TSLA',
  'Apr-05-21',
  '05:34AM',
  "Tesla's market value set to gain $50 billion on record first-quarter deliveries"],
 ['TSLA',
  'Apr-05-21',
  '04:41AM',
  'Premarket Movers Monday - Tesla, GameStop, Palantir'],
 ['TSLA',
  'Apr-05-21',
  '03:02AM',
  'Tesla Tops Expectations, Delivers Record Vehicles In 1Q'],
 ['TSLA',
  'Apr-05-21',
  '02:04AM',
  'Tesla Surges After Record First-Quarter Deliveries, Wedbush Upgrade'],
 ['TSLA',
  'Apr-05-21',
  '01:08AM',
  'Tesla, Facebook, Delta and Jobs - 5 Things You Must Know Monday'],
 ['TSLA',
  'Apr-04-21',
  '10:10PM',

In [169]:
# Instantiate the sentiment intensity analyzer
vader = SentimentIntensityAnalyzer()

# Set column names
columns = ['ticker', 'date', 'time', 'headline', ]

# Convert the parsed_news list into a DataFrame called 'parsed_and_scored_news'
parsed_and_scored_news = pd.DataFrame(parsed_news, columns=columns)

# Iterate through the headlines and get the polarity scores using vader
scores = parsed_and_scored_news['headline'].apply(vader.polarity_scores).tolist()

# Convert the 'scores' list of dicts into a DataFrame
scores_df = pd.DataFrame(scores)

# Join the DataFrames of the news and the list of dicts
parsed_and_scored_news = parsed_and_scored_news.join(scores_df, rsuffix='_right')

# Convert the date column from string to datetime
parsed_and_scored_news['date'] = pd.to_datetime(parsed_and_scored_news.date).dt.date

parsed_and_scored_news.head()

,ticker,date,time,headline,neg,neu,pos,compound
0,AMZN,2021-04-07,08:49PM,Dow Jones Futures: Stock Market Rally Pauses A...,0.000,1.000,0.000,0.0000
1,AMZN,2021-04-07,06:02PM,Is Walmart Stock A Buy Right Now? Here's What ...,0.000,1.000,0.000,0.0000
2,AMZN,2021-04-07,05:53PM,Is UPS Stock A Buy Right Now? Here's What Char...,0.000,1.000,0.000,0.0000
3,AMZN,2021-04-07,05:45PM,Amazon (AMZN) Outpaces Stock Market Gains: Wha...,0.000,0.661,0.339,0.4767
4,AMZN,2021-04-07,04:06PM,U.S. SEC blocks Amazon effort to stop sharehol...,0.259,0.633,0.108,-0.3400

In [146]:
# import pandas as pd

# parsed_and_scored_news = pd.DataFrame() 

# # saving the dataframe 
# parsed_and_scored_news.to_csv('AMZNO news headlines.csv')

In [149]:
#Get the number of row  and columns for df2
parsed_and_scored_news.shape

(300, 8)

In [24]:
import nltk
nltk.downloader.download('vader_lexicon')

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     /home/thembajsph/nltk_data...

True

In [13]:
#Create a dataframe to store the adjusted close price of the stock
df2 = pd.DataFrame()

#Store the adjusted close price of the stock into the df
for  stock in assets:
    df2[stock] = web.DataReader(ticker, data_source='yahoo', start = stockStartDate, end = today)['Adj Close']

In [1]:
pip install yfinance

Requirement already satisfied: yfinance in /home/thembajsph/Downloads/anaconda/lib/python3.8/site-packages (0.1.59)
Requirement already satisfied: lxml>=4.5.1 in /home/thembajsph/Downloads/anaconda/lib/python3.8/site-packages (from yfinance) (4.6.1)
Requirement already satisfied: numpy>=1.15 in /home/thembajsph/Downloads/anaconda/lib/python3.8/site-packages (from yfinance) (1.19.2)
Requirement already satisfied: pandas>=0.24 in /home/thembajsph/Downloads/anaconda/lib/python3.8/site-packages (from yfinance) (1.1.3)
Requirement already satisfied: multitasking>=0.0.7 in /home/thembajsph/Downloads/anaconda/lib/python3.8/site-packages (from yfinance) (0.0.9)
Requirement already satisfied: requests>=2.20 in /home/thembajsph/Downloads/anaconda/lib/python3.8/site-packages (from yfinance) (2.24.0)
Requirement already satisfied: pytz>=2017.2 in /home/thembajsph/Downloads/anaconda/lib/python3.8/site-packages (from pandas>=0.24->yfinance) (2020.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /home/thembajsph/Downloads/anaconda/lib/python3.8/site-packages (from pandas>=0.24->yfinance) (2.8.1)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /home/thembajsph/Downloads/anaconda/lib/python3.8/site-packages (from requests>=2.20->yfinance) (1.25.11)
Requirement already satisfied: chardet<4,>=3.0.2 in /home/thembajsph/Downloads/anaconda/lib/python3.8/site-packages (from requests>=2.20->yfinance) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /home/thembajsph/Downloads/anaconda/lib/python3.8/site-packages (from requests>=2.20->yfinance) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /home/thembajsph/Downloads/anaconda/lib/python3.8/site-packages (from requests>=2.20->yfinance) (2020.6.20)
Requirement already satisfied: six>=1.5 in /home/thembajsph/Downloads/anaconda/lib/python3.8/site-packages (from python-dateutil>=2.7.3->pandas>=0.24->yfinance) (1.15.0)
Note: you may need to restart the kernel to use updated packages.

In [125]:
import pandas as pd

df = pd.DataFrame(data) 

# saving the dataframe 
df.to_csv('AMZNO STOCK.csv')

In [126]:
data.stack().reset_index().rename(index=str, columns={"level_1": "Symbol"}).sort_values(['Symbol','Date'])

            Date     Symbol             0
4     2012-01-03  Adj Close  1.790300e+02
10    2012-01-04  Adj Close  1.775100e+02
16    2012-01-05  Adj Close  1.776100e+02
22    2012-01-06  Adj Close  1.826100e+02
28    2012-01-09  Adj Close  1.785600e+02
...          ...        ...           ...
13943 2021-03-29     Volume  2.746000e+06
13949 2021-03-30     Volume  2.337600e+06
13955 2021-03-31     Volume  3.093900e+06
13961 2021-04-01     Volume  2.940300e+06
13967 2021-04-05     Volume  3.334882e+06

[13968 rows x 3 columns]

In [127]:
df

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2012-01-03,175.889999,179.479996,175.550003,179.029999,179.029999,5110800
2012-01-04,179.210007,180.500000,176.070007,177.509995,177.509995,4205200
2012-01-05,175.940002,178.250000,174.050003,177.610001,177.610001,3809100
2012-01-06,178.070007,184.649994,177.500000,182.610001,182.610001,7008400
2012-01-09,182.759995,184.369995,177.000000,178.559998,178.559998,5056900
...,...,...,...,...,...,...
2021-03-29,3055.439941,3091.250000,3028.449951,3075.729980,3075.729980,2746000
2021-03-30,3070.010010,3073.000000,3034.000000,3055.290039,3055.290039,2337600
2021-03-31,3064.060059,3119.330078,3062.500000,3094.080078,3094.080078,3093900
2021-04-01,3117.939941,3162.439941,3115.550049,3161.000000,3161.000000,2940300
2021-04-05,3173.000000,3235.955078,3161.330078,3226.729980,3226.729980,3334882

In [143]:
#Show the first 3 rows of data df1
parsed_and_scored_news.head(3)

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2012-01-03,175.889999,179.479996,175.550003,179.029999,179.029999,5110800
2012-01-04,179.210007,180.500000,176.070007,177.509995,177.509995,4205200
2012-01-05,175.940002,178.250000,174.050003,177.610001,177.610001,3809100

In [171]:
import pandas_datareader.data as web
import datetime    

start = datetime.datetime(2021, 4, 3)
end = datetime.datetime(2021, 4, 8)
df = web.DataReader("AMZN", 'yahoo', start, end)

dates =[]
for x in range(len(df)):
    newdate = str(df.index[x])
    newdate = newdate[0:10]
    dates.append(newdate)

df['date'] = dates

In [172]:
df.reset_index(inplace=True,drop=False)

In [173]:
df['Date']

0   2021-04-05
1   2021-04-06
2   2021-04-07
Name: Date, dtype: datetime64[ns]

In [174]:
df

,Date,High,Low,Open,Close,Volume,Adj Close,date
0,2021-04-05,3235.959961,3161.239990,3173.000000,3226.729980,3334900,3226.729980,2021-04-05
1,2021-04-06,3247.310059,3217.040039,3223.750000,3223.820068,2507400,3223.820068,2021-04-06
2,2021-04-07,3303.582520,3223.649902,3233.800049,3279.389893,3221385,3279.389893,2021-04-07

In [175]:
df.head()

,Date,High,Low,Open,Close,Volume,Adj Close,date
0,2021-04-05,3235.959961,3161.239990,3173.000000,3226.729980,3334900,3226.729980,2021-04-05
1,2021-04-06,3247.310059,3217.040039,3223.750000,3223.820068,2507400,3223.820068,2021-04-06
2,2021-04-07,3303.582520,3223.649902,3233.800049,3279.389893,3221385,3279.389893,2021-04-07

In [176]:
df.shape

(3, 8)

In [150]:
#Get the number of rows and columns
parsed_and_scored_news.shape

(300, 8)

In [151]:
parsed_and_scored_news.head()

,ticker,date,time,headline,neg,neu,pos,compound
0,AMZN,2021-04-07,08:49PM,Dow Jones Futures: Stock Market Rally Pauses A...,0.000,1.000,0.000,0.0000
1,AMZN,2021-04-07,06:02PM,Is Walmart Stock A Buy Right Now? Here's What ...,0.000,1.000,0.000,0.0000
2,AMZN,2021-04-07,05:53PM,Is UPS Stock A Buy Right Now? Here's What Char...,0.000,1.000,0.000,0.0000
3,AMZN,2021-04-07,05:45PM,Amazon (AMZN) Outpaces Stock Market Gains: Wha...,0.000,0.661,0.339,0.4767
4,AMZN,2021-04-07,04:06PM,U.S. SEC blocks Amazon effort to stop sharehol...,0.259,0.633,0.108,-0.3400

In [137]:
#Print the first 3 rows of data for df2
df2.head()

                  AMZN
Date
2013-01-02  360.274597
2013-01-03  360.483826
2013-01-04  367.607117
2013-01-07  366.003143
2013-01-08  365.280823

In [138]:
#Get the number of row  and columns for df2
df2.shape

(2078, 1)

In [158]:
# import pandas as pd
# parsed_and_scored_news = pd.read_csv("parsed_and_scored_news.csv")
# df = pd.read_csv("stock_price.csv")

FileNotFoundError: [Errno 2] No such file or directory: 'parsed_and_scored_news.csv'

In [177]:
#Merge the data set on the date field
merge = df.merge(parsed_and_scored_news, how='outer', on='date')

In [139]:
merge = pd.concat(df, parsed_and_scored_news)

TypeError: first argument must be an iterable of pandas objects, you passed an object of type "DataFrame"

In [178]:
merge.head()

,Date,High,Low,Open,Close,Volume,Adj Close,date,ticker,time,headline,neg,neu,pos,compound
0,2021-04-05,3235.959961,3161.239990,3173.000000,3226.729980,3334900.0,3226.729980,2021-04-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2021-04-06,3247.310059,3217.040039,3223.750000,3223.820068,2507400.0,3223.820068,2021-04-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2021-04-07,3303.582520,3223.649902,3233.800049,3279.389893,3221385.0,3279.389893,2021-04-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaT,NaN,NaN,NaN,NaN,NaN,NaN,2021-04-07,AMZN,08:49PM,Dow Jones Futures: Stock Market Rally Pauses A...,0.0,1.0,0.0,0.0
4,NaT,NaN,NaN,NaN,NaN,NaN,NaN,2021-04-07,AMZN,06:02PM,Is Walmart Stock A Buy Right Now? Here's What ...,0.0,1.0,0.0,0.0

In [179]:
merge.shape

(303, 15)

In [119]:
merge = pd.merge(df, parsed_and_scored_news, on="id")

KeyError: 'id'

In [121]:
df_join_no_duplicates = df.set_index('Date').join(parsed_and_scored_news.set_index('date'))

print(df_join_no_duplicates)

KeyError: "None of ['Date'] are in the columns"

In [180]:
#Combine the top news headlines
headlines = []

for row in range(0, len(merge.index)):
    headlines.append(' '.join( str(x) for x in merge.iloc[row, 2:27]) )

In [182]:
#Print  a sample of the combined headlines
headlines[3]

'nan nan nan nan nan 2021-04-07 AMZN 08:49PM Dow Jones Futures: Stock Market Rally Pauses Amid Biden Tax Hike Plans, But Apple, Tech Titans Lead; Tesla Delays Continue 0.0 1.0 0.0 0.0'

In [183]:
#Clean the data
clean_headlines = []

for i in range(0, len(headlines)):
    clean_headlines.append(re.sub("b[(')]", '', headlines[i])) #remove b '
    clean_headlines[i] = re.sub('b["]', '', clean_headlines[i]) #remove b"
    clean_headlines[i] = re.sub("\'", '', clean_headlines[i]) #remove \'

NameError: name 're' is not defined

In [135]:
#Show the combined  cleaned headlines
clean_headlines[20]

IndexError: list index out of range

In [184]:
#Add the clean headlines to the merge data set
merge['Combined_News'] = headlines

#Show the new column
merge['Combined_News'][0]

'3161.239990234375 3173.0 3226.72998046875 3334900.0 3226.72998046875 2021-04-05 nan nan nan nan nan nan nan'

In [187]:
#Show the first 3 rows of the merge data set
merge.head(4)

,Date,High,Low,Open,Close,Volume,Adj Close,date,ticker,time,headline,neg,neu,pos,compound,Combined_News
0,2021-04-05,3235.959961,3161.239990,3173.000000,3226.729980,3334900.0,3226.729980,2021-04-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3161.239990234375 3173.0 3226.72998046875 3334...
1,2021-04-06,3247.310059,3217.040039,3223.750000,3223.820068,2507400.0,3223.820068,2021-04-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3217.0400390625 3223.75 3223.820068359375 2507...
2,2021-04-07,3303.582520,3223.649902,3233.800049,3279.389893,3221385.0,3279.389893,2021-04-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3223.64990234375 3233.800048828125 3279.389892...
3,NaT,NaN,NaN,NaN,NaN,NaN,NaN,2021-04-07,AMZN,08:49PM,Dow Jones Futures: Stock Market Rally Pauses A...,0.0,1.0,0.0,0.0,nan nan nan nan nan 2021-04-07 AMZN 08:49PM Do...

In [192]:
from textblob import TextBlob



#Create a function  to get the subjectivity
def getSubjectivity(text):
    return TextBlob(text).sentiment.subjectivity

#Create a function to get the polarity
def getPolarity(text):
    return TextBlob(text).sentiment.polarity

In [193]:
#Create two new columns 'subjectivity' and 'Polarity'
merge['Subjectivity'] = merge['Combined_News'].apply(getSubjectivity)
merge['Polarity'] = merge['Combined_News'].apply(getPolarity)

In [98]:
#Create two new columns 'subjectivity' and 'Polarity'
merge['Subjectivity'] = merge['Combined_News'].apply(getSubjectivity)
merge['Polarity'] = merge['Combined_News'].apply(getPolarity)

In [195]:
#Show the new columns in the merge data set
merge.head(4)

,Date,High,Low,Open,Close,Volume,Adj Close,date,ticker,time,headline,neg,neu,pos,compound,Combined_News,Subjectivity,Polarity
0,2021-04-05,3235.959961,3161.239990,3173.000000,3226.729980,3334900.0,3226.729980,2021-04-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3161.239990234375 3173.0 3226.72998046875 3334...,0.0,0.0
1,2021-04-06,3247.310059,3217.040039,3223.750000,3223.820068,2507400.0,3223.820068,2021-04-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3217.0400390625 3223.75 3223.820068359375 2507...,0.0,0.0
2,2021-04-07,3303.582520,3223.649902,3233.800049,3279.389893,3221385.0,3279.389893,2021-04-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3223.64990234375 3233.800048828125 3279.389892...,0.0,0.0
3,NaT,NaN,NaN,NaN,NaN,NaN,NaN,2021-04-07,AMZN,08:49PM,Dow Jones Futures: Stock Market Rally Pauses A...,0.0,1.0,0.0,0.0,nan nan nan nan nan 2021-04-07 AMZN 08:49PM Do...,0.0,0.0

In [198]:
#Create a functon to get the sentiment scores
def getSIA(text):
    sia = SentimentIntensityAnalyzer()
    sentiment = sia.polarity_scores(text)
    return sentiment

In [219]:
#Get the sentiment scores for each day
compound = []
neg = []
pos = []
neu = []
label = []
SIA = 0

for i in range(0, len(merge['Combined_News'])):
    SIA = getSIA(merge['Combined_News'][i])
    compound.append(SIA['compound'])
    neg.append(SIA['neg'])
    neu.append(SIA['neu'])
    pos.append(SIA['pos'])
    label.append(SIA['pos'])

In [220]:
#Store the sentiment scores in the merge data set
merge['Compound'] = compound
merge['Negetive'] = neg
merge['Neutral'] = neu
merge['Positive'] = pos
merge['Label'] = label

In [221]:
#Show the merge data 
merge .head(7)

,Date,High,Low,Open,Close,Volume,Adj Close,date,ticker,time,...,pos,compound,Combined_News,Subjectivity,Polarity,Compound,Negetive,Neutral,Positive,Label
0,2021-04-05,3235.959961,3161.239990,3173.000000,3226.729980,3334900.0,3226.729980,2021-04-05,NaN,NaN,...,NaN,NaN,3161.239990234375 3173.0 3226.72998046875 3334...,0.000000,0.000000,0.0000,0.0,1.00,0.00,0.00
1,2021-04-06,3247.310059,3217.040039,3223.750000,3223.820068,2507400.0,3223.820068,2021-04-06,NaN,NaN,...,NaN,NaN,3217.0400390625 3223.75 3223.820068359375 2507...,0.000000,0.000000,0.0000,0.0,1.00,0.00,0.00
2,2021-04-07,3303.582520,3223.649902,3233.800049,3279.389893,3221385.0,3279.389893,2021-04-07,NaN,NaN,...,NaN,NaN,3223.64990234375 3233.800048828125 3279.389892...,0.000000,0.000000,0.0000,0.0,1.00,0.00,0.00
3,NaT,NaN,NaN,NaN,NaN,NaN,NaN,2021-04-07,AMZN,08:49PM,...,0.000,0.0000,nan nan nan nan nan 2021-04-07 AMZN 08:49PM Do...,0.000000,0.000000,0.0000,0.0,1.00,0.00,0.00
4,NaT,NaN,NaN,NaN,NaN,NaN,NaN,2021-04-07,AMZN,06:02PM,...,0.000,0.0000,nan nan nan nan nan 2021-04-07 AMZN 06:02PM Is...,0.535714,0.285714,0.0000,0.0,1.00,0.00,0.00
5,NaT,NaN,NaN,NaN,NaN,NaN,NaN,2021-04-07,AMZN,05:53PM,...,0.000,0.0000,nan nan nan nan nan 2021-04-07 AMZN 05:53PM Is...,0.535714,0.285714,0.0000,0.0,1.00,0.00,0.00
6,NaT,NaN,NaN,NaN,NaN,NaN,NaN,2021-04-07,AMZN,05:45PM,...,0.339,0.4767,nan nan nan nan nan 2021-04-07 AMZN 05:45PM Am...,0.000000,0.000000,0.4767,0.0,0.83,0.17,0.17

In [223]:
#Create a list of columns to keep
keep_columns = ['Open', 'High', 'Low', 'Volume', 'Subjectivity', 'Polarity', 'Compound', 'Negetive', 'Neutral', 'Positive' , 'Label']
df = merge[keep_columns]
df

,Open,High,Low,Volume,Subjectivity,Polarity,Compound,Negetive,Neutral,Positive,Label
0,3173.000000,3235.959961,3161.239990,3334900.0,0.000000,0.000000,0.0000,0.000,1.000,0.000,0.000
1,3223.750000,3247.310059,3217.040039,2507400.0,0.000000,0.000000,0.0000,0.000,1.000,0.000,0.000
2,3233.800049,3303.582520,3223.649902,3221385.0,0.000000,0.000000,0.0000,0.000,1.000,0.000,0.000
3,NaN,NaN,NaN,NaN,0.000000,0.000000,0.0000,0.000,1.000,0.000,0.000
4,NaN,NaN,NaN,NaN,0.535714,0.285714,0.0000,0.000,1.000,0.000,0.000
...,...,...,...,...,...,...,...,...,...,...,...
298,NaN,NaN,NaN,NaN,0.750000,0.250000,-0.1027,0.069,0.931,0.000,0.000
299,NaN,NaN,NaN,NaN,0.344444,0.322222,0.5859,0.000,0.868,0.132,0.132
300,NaN,NaN,NaN,NaN,0.500000,0.500000,0.4939,0.056,0.760,0.184,0.184
301,NaN,NaN,NaN,NaN,0.250000,0.250000,0.2023,0.000,0.924,0.076,0.076
302,NaN,NaN,NaN,NaN,0.000000,0.000000,0.0000,0.000,1.000,0.000,0.000

In [224]:
#Create the feature data set
x = df
x = np.array(x.drop(['Label'], 1))
#Create the target data set
y = np.array(df['Label'])

#Split the data int 80% training and 20 testing data sets
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 0)

NameError: name 'np' is not defined

In [217]:
#Create and train the model
model = LinearDiscriminantAnalysis().fit(x_train, y_train)

NameError: name 'LinearDiscriminantAnalysis' is not defined

In [216]:
#Show the models predictions
predictions = model.predict(x_test)
predictions

NameError: name 'model' is not defined

In [ ]:
y_test

In [ ]:
#Show the model metrics
print( classification_report(y_test, predictions))