In [44]:
# Import libraries
import math
import pandas_datareader as web
import  numpy as np
import pandas as pd 
from sklearn.preprocessing import MinMaxScaler
from keras.models import Sequential 
from keras.layers import Dense, LSTM
import matplotlib.pyplot as plt
from datetime import datetime
plt.style.use('fivethirtyeight')

In [52]:
#Get the stock symbols/ tickers in the portfolio
#FAANG 

assets = ['AAPL']

In [ ]:
# Description: This program predicts the price of Bitcoin for the next 30 days

In [53]:
#Get the stock/portfolio starting date
stockStartDate = '2012-01-01'

In [54]:
#Get the stock stocks ending date (date)
today = datetime.today().strftime('%Y-%m-%d')
today

'2021-04-15'

In [55]:
#create a dataframe to store the adjusted close price of the stocks
df = pd.DataFrame()

#Store the adjusted close price of the stock into df 
for stock in assets:
    df[stock] = web.DataReader(stock, data_source='yahoo', start = stockStartDate, end = today)['Adj Close']

In [56]:
#Show the df
df

                  AAPL
Date
2012-01-03   12.650659
2012-01-04   12.718646
2012-01-05   12.859850
2012-01-06   12.994284
2012-01-09   12.973674
...                ...
2021-04-08  130.360001
2021-04-09  133.000000
2021-04-12  131.240005
2021-04-13  134.429993
2021-04-14  132.029999

[2335 rows x 1 columns]

In [57]:
df.head(7)

                 AAPL
Date
2012-01-03  12.650659
2012-01-04  12.718646
2012-01-05  12.859850
2012-01-06  12.994284
2012-01-09  12.973674
2012-01-10  13.020121
2012-01-11  12.998899

In [17]:
#Remove the Date column
df.drop(['Date'],1, inplace=True)

KeyError: "['Date'] not found in axis"

In [58]:
#Show the first 7 rows of the new data set
df.head(7)

                 AAPL
Date
2012-01-03  12.650659
2012-01-04  12.718646
2012-01-05  12.859850
2012-01-06  12.994284
2012-01-09  12.973674
2012-01-10  13.020121
2012-01-11  12.998899

In [20]:
# A variable for predicting 'n'days out into the future
prediction_days = 30 #n = prediction_days = 30

In [59]:
#Create another shifted 'n' unit up
df['Prediction'] = df[['AAPL']].shift(-prediction_days)

In [60]:
#Show the first 7 row of the new data set
df.head(7)

                 AAPL  Prediction
Date
2012-01-03  12.650659   15.309814
2012-01-04  12.718646   15.449476
2012-01-05  12.859850   15.446707
2012-01-06  12.994284   15.838323
2012-01-09  12.973674   15.782640
2012-01-10  13.020121   15.885691
2012-01-11  12.998899   16.070887

In [61]:
#Show the last 7 days of the new data set
df.tail(7)

                  AAPL  Prediction
Date
2021-04-06  126.209999         NaN
2021-04-07  127.900002         NaN
2021-04-08  130.360001         NaN
2021-04-09  133.000000         NaN
2021-04-12  131.240005         NaN
2021-04-13  134.429993         NaN
2021-04-14  132.029999         NaN

In [62]:
#Create the independent data set

# covert the dataframe to a numpy array and drop the prediction column
x = np.array(df.drop(['Prediction'], 1))

In [63]:
#Remove the last 'n' rows where 'n' is the prediction_days 
x = x[:len(df)-prediction_days]

print(x)

[[ 12.65065861]
 [ 12.71864605]
 [ 12.85984993]
 ...
 [121.26000214]
 [127.79000092]
 [125.12000275]]

In [64]:
#Create the dependent data set

# Convert the dataframe to a numpy array
y = np.array(df['Prediction'])

# Get all the values except the 'n' rows
y = y[:-prediction_days]

print(y)

[ 15.30981445  15.44947624  15.44670677 ... 131.24000549 134.42999268
 132.02999878]

In [65]:
#Split the data into 80% training and 20% testing
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size = 0.2)

In [66]:
#Set the prediction_days_array equal to the last 30 rows from the original data set
prediction_days_array = np.array(df.drop(['Prediction'],1))[-prediction_days:]
print(prediction_days_array)

[[122.05999756]
 [120.12999725]
 [121.41999817]
 [116.36000061]
 [121.08999634]
 [119.98000336]
 [121.95999908]
 [121.02999878]
 [123.98999786]
 [125.56999969]
 [124.76000214]
 [120.52999878]
 [119.98999786]
 [123.38999939]
 [122.54000092]
 [120.08999634]
 [120.58999634]
 [121.20999908]
 [121.38999939]
 [119.90000153]
 [122.15000153]
 [123.        ]
 [125.90000153]
 [126.20999908]
 [127.90000153]
 [130.36000061]
 [133.        ]
 [131.24000549]
 [134.42999268]
 [132.02999878]]

In [67]:
from sklearn.svm import SVR

#Create and train the support vector machine(Regression) using the radial basis function
svr_rbf = SVR(kernel='rbf', C=1e3, gamma=0.00001)
svr_rbf.fit(x_train, y_train)

SVR(C=1000.0, gamma=1e-05)

In [68]:
#Test the model accuracy
svr_rbf_confidence = svr_rbf.score(x_test, y_test)
print('svr_rbf accuracy: ', svr_rbf_confidence )

svr_rbf accuracy:  0.9645927484293653

In [69]:
#Print the predicted values(bitcoin)
svm_prediction = svr_rbf.predict(x_test)
print(svm_prediction)

print()

#Print the actual values
print(y_test)

[ 26.95129806  14.13467625  48.40112813  20.70520429  17.90556062
  18.24206848  25.80469115  25.59704718  23.97136022  35.17537752
  42.94958077  47.84211139  48.60729588  53.55108127  46.29427006
  48.49523292  25.80500205  16.35852594 103.05779208  26.33588641
  42.12794255  40.35235134  58.84769371  50.9476034   29.84497526
  16.70365634  68.41472661  12.75550307  13.56438602  25.21212988
  16.13473222  74.42911737  30.51163152  30.63376781  26.59953279
  73.22421453  65.41743799  50.27707634  17.00203216  16.56945118
  56.07999499  37.15032508  21.20927739  20.91589727  17.47831905
  39.72325719  36.5262765   40.06525721  39.16887137  27.93498119
  32.5791476   64.60041977 119.88824395  21.0582522   14.32312769
  40.51701034  29.20841484  16.84672952  44.37191607 133.9869668
  52.07978167  79.69230855  39.75835299  35.9219581   83.50682312
  39.00242848  58.33581796  51.98132832  19.88833057  22.76568181
  25.88246856  43.83157231 123.89804365  17.60849471  22.14748216
  23.10672407  54.36857286  54.60927099  17.9789396   19.51347806
  14.93529026  42.54828006  29.06306876  26.88829244 121.51816965
  36.27174606  26.26567238  44.93111719 129.64292234  39.54084129
  15.88919354  51.46992475  13.96236455  26.23586962  31.67022567
  17.62174083  42.50869035  37.59887949  42.79582251  22.95977887
  28.01942387  21.38866626  37.65685467  45.16393044  18.06291602
  29.27803154  35.77193181  47.73102619  54.07894913 114.67475964
  57.86552213  17.34518227  29.65258038  55.50319862  16.01100982
  19.03770629  19.39661803  18.10034951  35.03418182  31.03530865
  53.6003695   18.41534416  15.86819151  17.44914997  15.73598943
  39.46996787  23.32611791  32.12578167  20.96952469  45.15099659
  23.53395657  86.0298147   16.56647481  16.05210311  13.54921732
  27.59082886 117.49929323  17.8679826   17.32802856  84.821768
  16.73167679  21.59595609  44.742056    50.46403566  44.75010815
  58.63374723  49.84290821  83.09475663  45.17816929  25.61868944
  63.84785427  22.68013843  25.12826533  49.79704879  16.56107386
 125.42480143  59.20498626  51.72682226  22.38948251  50.50796279
  13.92455586  16.65909571  42.9539469   52.07547867  18.40426177
  54.48294983  13.21970186  18.31464668  17.47943622 127.21465322
  19.87882606  16.08086129  43.92792699  40.50637779  17.10305209
  46.91379744  40.05499821  29.2231317   13.99007001  39.02884403
  13.64933368  22.47702681  40.62247498  81.07155645  49.20590999
  46.08062049  19.28915864  41.46830987 131.86169044  18.16502118
  23.30330811  28.24591666  30.50020214  18.80868569  43.81026072
  13.23854981  35.79811202  85.52230815  20.60186433  45.17639686
  29.46356086  27.5901339   48.12819878  18.58028289 132.46191671
  26.85596242  26.56070131  44.15159938  26.09452671  26.29271083
  15.74457343  29.29947712  14.04321051  22.34780267  34.45924747
 114.03458479 101.7963527   28.36902192  30.43263311 114.05983997
 120.96821986  20.96291539  17.67101454  48.66056136  30.04829167
  37.4697292   57.8644289   22.76010098  45.1908101   13.45807535
  23.45867646  27.13419352  14.65206542  27.79204476  15.01405588
  41.45501831  53.6045954   17.91560478  23.88386849  59.45685293
  25.71716446  30.571442    23.29853615 102.54188044  19.04899479
  43.74029466  13.53412562  48.02823241  48.16062919  39.10047724
  80.24650159  44.33280535  16.24966476  17.12224267  78.45218978
  13.8561732   29.46842841  47.07172721  22.68350162  83.79944041
 114.5933153   29.94123984  18.51395767  27.00603579 139.42946265
  24.04915544  18.85907315  47.60135541  39.39694053  43.11792846
  57.89304415  19.88698346  24.00301545  53.85595131  62.16533678
  53.67608187  28.01157264  29.81998762  39.37331531  93.99973306
  15.43512918  13.96915856  49.54217102  48.44420145  53.73429374
  26.59021965 118.14809826  28.76342089  22.78675059  39.32533572
  13.70500294  87.19035931  53.91072818  24.54576198  35.23031036
  47.92428997  56.06182474  28.5976624   53.4674269   26.71975501
  54.28026565  33.50405856  78.51643949  72.49091877  17.26738687
  16.96901657  21.67765224  84.52625319  23.94110892  25.54256536
  71.30847177  44.37726006  23.4364898   15.60219236  45.04776357
  75.87542113  86.45875539  27.73740711  27.31257809  14.27049069
  22.25343865 102.35340382  54.13032897  38.75002151  44.27561326
  28.62035988  28.68361314  16.82737254  23.15405175  57.50673753
  25.85520387  48.425447    48.21197888  22.82742215  30.69294394
  41.28222765  16.76296678  17.02915279  37.65158707 123.25418216
 130.43318563  23.78760079  37.85458006  38.39267035  71.11021502
  26.85902208  40.89953117  30.07069568  13.52044882  51.1116735
  40.14368657  17.07015027  31.21901462  14.30011334  19.27674859
  26.75434217  24.56210542  23.91790193  71.2002443   13.84179581
  18.30305729  17.53516198 135.90226605  14.16579025  23.79039556
  57.58262157  22.19335857  57.21132972  18.0108817   40.18424941
  15.49719012  86.89611302  17.74258269  25.60818403  25.41364162
  74.64765065  44.15110669  31.54244431  74.7608862   24.91149105
  28.35143325  20.95034067  44.3124667   19.50378963  59.47988989
  37.73330882  21.24942778  59.02910928  36.31119276  22.98021444
  94.31617327  43.66856212  26.47954773  16.34572544  42.60786669
  25.64439755  17.98365151  21.77138213  30.77089863  42.1784149
  35.75884842  59.06751518 104.3041179   30.01343139  17.02813759
  13.88443412  22.97339632  13.79684198  52.00321393  28.70919165
  21.63919888  30.38509519  42.22363603  36.51317774  31.10122499
  15.99583987  20.81850429 120.66401814  59.55700001  42.52750101
  23.77784282  13.59253559  13.04854364  77.89215295  22.67045109
  27.34538962  40.3550217   63.6972721  120.90347424  52.31772466
  27.54759467  49.08219587  14.78905394  45.72302142  38.83218102
  16.3126256  119.71973685  30.57643593  34.74925803  43.15786656
  26.36578558  98.722785    18.09840766  27.81911072  13.27332365
  85.70292521  28.51411286  91.80961628  21.81465276  17.17031624
  26.1392894   14.22931953  53.25046355  12.85782755 131.87940013
 134.92764244  22.16786137  23.18440545  25.5143749   45.11041485
  38.31351313]

[ 23.30539703  13.47702599  52.25249481  21.47515488  18.590065
  19.15149307  27.60415268  21.86220932  22.33191681  34.79250336
  42.5188942   50.02732468  51.55042648  47.88719559  49.59315491
  50.10323715  23.36154175  17.17489052 124.42408752  27.54741096
  46.55659866  36.65547562  49.85513687  51.85161972  29.02290154
  17.97595024  69.30204773  14.61987114  15.90952682  26.2894516
  16.79338074  70.24797058  28.9592495   29.09625816  26.80220795
  66.48215485  76.5424118   54.20847321  13.9610014   18.22768402
  55.04719543  34.89081573  19.91526604  16.3132267   17.00013924
  36.03553391  34.95042038  43.06071854  41.10159302  25.96577644
  33.46044922  67.18354797 115.43804169  22.30874634  13.5184679
  40.71243286  32.55579376  17.18182945  41.60684967 125.56999969
  43.60264206  87.45750427  41.67197037  37.69429398  67.85401917
  35.84450531  54.11856842  43.81158447  20.80905724  22.8680172
  29.7742691   45.56387329 133.52047729  17.19921494  18.06186676
  25.68030548  35.80099487  48.78196716  15.92700577  20.3576889
  14.4023037   41.79102325  24.82245064  28.37014961 126.41110229
  37.46577454  27.18767738  40.3040657  131.7631073   42.24039841
  13.28784943  45.00624847  13.2230854   27.81361389  33.23963547
  16.19249916  45.55660629  38.21370316  41.38265228  25.2385006
  28.21500587  19.64462662  39.26688385  46.19824982  16.30360794
  25.92335129  37.06761932  51.83214569  52.88667297 111.76985931
  63.53782654  19.23449516  29.31633949  47.66104507  19.20563507
  16.72849655  17.55089569  18.61068535  36.56383133  29.54558945
  53.05918884  17.25772667  16.4440918   17.27635002  16.66171265
  37.88578033  25.52266502  33.20400238  21.53598213  37.50046539
  24.76990891  61.24525833  16.51651955  14.17825413  13.98825359
  22.3547802  111.45088196  18.63866997  16.6115818   68.32785797
  19.2637825   22.0166893   42.14472198  51.33597565  41.67920303
  50.83531952  51.05089188  87.96495056  37.3785553   27.53371239
  64.21118927  27.06033325  22.81556511  50.93775558  17.96557999
 131.83299255  60.00438309  48.81391907  22.30178452  51.5424614
  15.75927544  18.75618935  45.19106674  52.36839676  16.63301849
  50.75623322  14.53471088  17.20187378  19.08026886 124.00045776
  18.09222794  15.48535061  41.10399246  36.71530533  14.3648386
  49.98646164  40.46128464  25.86348152  15.66596603  34.76921844
  14.07120705  25.40270805  41.82411957  71.12120056  48.46978378
  39.85573959  20.51030731  38.26875687 129.71000671  16.11472321
  24.74769974  23.11797523  27.80788612  17.17251396  41.72503662
  15.88928223  36.3904953   60.90787125  21.49092293  50.26914215
  29.56163597  28.52548409  46.32658386  19.51610184 136.75999451
  25.58679962  29.02545547  46.78277206  25.21637344  30.3632679
  15.48787594  30.28335762  13.04239845  22.80007553  33.78099823
 115.16891479 117.89512634  22.52360535  26.28108597 127.6891861
 122.75656891  19.58839607  18.9512043   45.98274994  29.13046837
  38.64932632  42.57692337  24.71813583  42.89484406  13.81573677
  24.94553566  28.4113369   13.09864616  26.02014732  14.47160053
  37.57701111  54.2600708   19.06874657  22.59858322  46.67076874
  22.86090469  29.25215149  25.40976524 124.60849762  20.84798813
  42.66570663  15.84784603  50.21517181  44.82053757  42.68851089
  80.61262512  41.88230515  16.49122429  16.63078117  70.15617371
  13.69947052  33.085289    50.72766495  24.67811012  59.88827515
 106.77596283  29.866539    15.08109283  27.64907074 121.08999634
  22.66205025  17.90805626  50.62195587  40.78930664  42.86960983
  64.38195801  21.06061172  26.26217079  56.01939011  66.2876358
  54.38827896  26.74810791  25.41672325  42.73504257  95.70849609
  16.5735054   13.58100128  45.65274048  49.79964066  46.74169922
  28.42503738 115.37823486  31.44218826  22.666502    41.08958435
  15.55304146  96.03932953  53.64719009  25.55951309  36.55977249
  38.00273895  55.71007919  26.11449623  54.25760269  21.96256065
  58.06494141  34.22026443  87.57939148  78.62499237  17.2358799
  20.08379936  21.86040878  90.74346924  25.10399246  27.18324852
  74.33351135  37.59197998  25.60263443  16.38515663  37.13228989
  80.48610687  95.84529877  26.37932014  25.48348236  14.35339546
  18.43014145 124.40664673  53.02759552  41.79102325  40.21998978
  23.28911591  26.35113335  18.13789368  25.53380966  48.98200226
  21.85494804  52.86723709  50.96471786  25.72729683  30.27689362
  37.3400383   17.59829712  19.46261978  34.25660706 131.77308655
 125.34999847  22.49933052  39.09933472  34.21369553  76.63021851
  25.74373055  38.2400322   28.53918457  14.28960323  46.45901108
  41.48863983  19.0146122   24.80646515  18.49163055  20.79251099
  25.75984764  24.26421165  24.58877754  78.815979    13.85752869
  17.72440147  17.57981682 121.02999878  13.35215664  22.77200127
  52.26221466  18.00718689  52.5708046   20.89340401  44.29977417
  16.80385208  61.45860291  16.25985146  25.39094543  21.77384758
  79.55554962  45.27573776  27.52590752  80.15447235  29.3245182
  23.45563316  21.43009567  46.51341629  21.69142342  64.8323822
  37.96955872  16.37716484  53.40664291  35.89696121  25.44503975
  92.38023376  41.20008087  26.98074532  14.13666821  44.99030304
  29.40213776  18.30489731  21.89645958  29.07339478  41.24572372
  34.67146301  60.10308075 128.62554932  28.13738823  19.51412582
  16.67322159  26.25762177  12.46043015  43.99348831  25.99414635
  21.33997536  28.70654297  41.3706398   33.92043686  28.80741119
  15.37969971  21.39404869 120.12050629  53.97764587  43.09022141
  25.15337944  12.57422733  16.32560921  81.17079926  22.8114109
  27.99781799  37.30173874  64.77793884 128.6078186   45.8690567
  26.53131104  54.17931366  14.93939781  39.15144348  41.9591713
  19.57232857 114.68048859  28.36568069  33.66940308  46.17403412
  27.12592506 120.57150269  18.94076729  24.98434639  15.76813412
  60.76150131  31.09604454  92.78570557  23.20764351  16.75464821
  26.82807541  13.30501842  50.02832794  13.88329601 122.15000153
 121.38999939  23.52477455  25.92106628  29.34506416  43.02751541
  35.23176193]

In [70]:
#Print the model predictions for the next 'n=30' days
svm_prediction = svr_rbf.predict(prediction_days_array)
print(svm_prediction)

print()

#print the actual price for bitcoin for the last 30 days
print(df.tail(prediction_days))

[125.4189075  123.9055657  124.92068082 120.85729667 124.66237802
 123.78659745 125.34129809 124.61531386 126.89941404 128.08653628
 127.48077626 124.22187766 123.79453066 126.44271104 125.79021219
 123.8738578  124.2692028  124.75641807 124.89723919 123.72306434
 125.48868473 126.14412739 128.33161471 128.56092827 129.79547672
 131.54476808 133.35783126 132.15658414 134.31163098 132.6994845 ]

                  AAPL  Prediction
Date
2021-03-03  122.059998         NaN
2021-03-04  120.129997         NaN
2021-03-05  121.419998         NaN
2021-03-08  116.360001         NaN
2021-03-09  121.089996         NaN
2021-03-10  119.980003         NaN
2021-03-11  121.959999         NaN
2021-03-12  121.029999         NaN
2021-03-15  123.989998         NaN
2021-03-16  125.570000         NaN
2021-03-17  124.760002         NaN
2021-03-18  120.529999         NaN
2021-03-19  119.989998         NaN
2021-03-22  123.389999         NaN
2021-03-23  122.540001         NaN
2021-03-24  120.089996         NaN
2021-03-25  120.589996         NaN
2021-03-26  121.209999         NaN
2021-03-29  121.389999         NaN
2021-03-30  119.900002         NaN
2021-03-31  122.150002         NaN
2021-04-01  123.000000         NaN
2021-04-05  125.900002         NaN
2021-04-06  126.209999         NaN
2021-04-07  127.900002         NaN
2021-04-08  130.360001         NaN
2021-04-09  133.000000         NaN
2021-04-12  131.240005         NaN
2021-04-13  134.429993         NaN
2021-04-14  132.029999         NaN